<div class="message">
  <a href="" class="message_profile-pic"></a>
  <a href="" class="message_username"><strong><%= message.user.email %></strong></a>
  <span class="message_star"></span>
  <span class="message_content">
    <%= message.content %>
  </span>
</div>
